body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text {
    width: 300px;
    border: 2px solid brown;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text:hover {
    overflow: visible;
    color: lightcoral;
    cursor: pointer;
}