.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #093663;
    border-bottom: 1px solid #e9ecef;
    height: 40px;
}