header > figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(156, 75, 55);
    font-family: "Sofia", sans-serif;
    font-size: 1.5rem;
}

main > section {
    font-family: "Cinzel", "Prata", "Philosopher", "Cormorant Garamond", "Italiana", "Playfair Display";
}

main section:first-child {
    margin: 4em 10px 0 10px;
    text-align: justify;
}

section {
    display: flex;
}

article {
    flex: 1;
    width: 32%;
    margin: 0 8px 0 8px;
    padding: 2em;
}

section > article {
    background-color: white;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4px;
    color: rgb(140, 168, 158);
}

.product:hover {
    cursor: pointer;
}

a[href^="about"] {
    color: rgb(74, 101, 84);
}